body {
    margin: 0;
    padding: 0;
    text-align: center;
}
#uvod{
    clear: left;
}
#glavni-naslov {
    background-color: #333;
    color: white;
    padding: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navigacija ul {
    list-style: none;
    margin: 40px;
    padding: 0px;
    display: flex;
    justify-content: center;
}
.navigacija ul li {
    margin: 20px;
    background: #b29ff6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navigacija ul li a:hover{
    text-decoration: none;
    color: #ffffff;
}
#krivi-put{
    background-color: #f0f8ff;
}
#krivi-put h2 {
    text-align: center;
}

#botanicar {
    background-color: #f5fff0;
    text-align: center;  
}
#botanicar h2{
    text-align: center;
}

#melin {
    background-color: #fff8f0;
}
#melin h2{
    text-align: center;
}
main .kafic h2 {
    margin-top: 0;
    text-align: left;
    padding-left: 20px;
}

main .kafic p {
    text-align: center;
    padding-left: 20px;
}

.kafic {
    margin: 20px auto;
    width: 60%;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    display: block;
}
img{
    float: left;
    vertical-align: middle;
    width: 30%;
}
p{font-family: Georgia, 'Times New Roman', Times, serif;}
.medaljica{
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 80px;
    height: 50px;
    background-color: #f7e8c7;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tekst{
    vertical-align: middle;
}
